Añadir comentario: <p>

<form method="post" action="/admin/cuestionarios/<%= cuestionario.id %>/quizes/<%= quiz.id %>/comments/">
    <input type="text" id="comment" name="comment[texto]" value=""/><p>
    <button type="submit">Enviar</button>
</form>

