<<<<<<< HEAD


  <p>
  <%= respuesta %>
  <a href="/quizes/<%= quiz.id %>"> Volver </a>
  </p>

=======
<p><%= respuesta %></p>
<a href="/quizes/<%= quiz.id %>"> Inténtelo otra vez </a>
>>>>>>> 9a7f6282a951cbb66bf4940b005a31c494b2d610

